{{set . "title" .room}}
{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="col-md-2">Room: <strong id="roomName">{{.room}}</strong></div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">User: <strong id="userName">{{.user}}</strong></div>
  </div>
</div>

<div class="container">
  <br>
  <div class="row">
    <div class="col-md-1">
      <a href="/table/default?room={{.room}}&user={{.user}}&table=table1" role="button" class="btn btn-warning btn-block" target="_blank">left</a>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-default btn-block">desk1</button>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-warning btn-block">rigth</button>
    </div>
  </div>
</div>


{{template "footer.html" .}}
