{{template "header.html" "Card Hall"}}

<div class="container">
  <div class="row">
    <div class="col-md-2">Login as <strong id="userName">{{.User}}</strong></div>
    <div class="col-md-4">
      <p><a href="/">Logout</a></p>
    </div>
  </div>
</div>

<p></p>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="btn-group" id="btn-chat">
        <button type="button" class="btn btn-default">Hello~</button>
        <button type="button" class="btn btn-default">Good~</button>
        <button type="button" class="btn btn-default">Harry!</button>
        <button type="button" class="btn btn-default">Kill You!</button>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Room list</h3>
        </div>
        <div class="panel-body" id="panel-roomlist">
          <div class="btn-group" id="btn-enterRoom">
            <button type="button" class="btn btn-primary btn-block" id="btn-pvpRoom">对战模式</button>
            <button type="button" class="btn btn-primary btn-block" id="btn-pveRoom">练习模式</button>
            <button type="button" class="btn btn-default btn-block" id="btn-exitRoom">退出房间</button>
            <button type="button" class="btn btn-default btn-block" id="btn-start">开始</button>
            <button type="button" class="btn btn-default btn-block" id="btn-giveUp">认输</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Fight</h3>
        </div>
        <div class="panel-body" id="panel-fight">
          <img src="http://card-line.qiniudn.com/Cony_LeiBen.png" alt="Cony" class="img-rounded">
          <img src="http://card-line.qiniudn.com/Cony_ZhuangDiShu.png" alt="Cony" class="img-rounded">
          <img src="http://card-line.qiniudn.com/Cony_YiBenZhengJing.png" alt="Cony" class="img-rounded">
          <img src="http://card-line.qiniudn.com/Cony_MeiXue.png" alt="Cony" class="img-rounded">
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Chat or Event</h3>
        </div>
        <div class="panel-body" id="panel-chat">
        </div>
      </div>
    </div>

  </div>
</div>


<script src="/public/js/hall/hall.js" type="text/javascript" charset="utf-8"></script>

{{template "footer.html" .}}
